@media only screen and (max-width: 500px) {
    .tema{
        width: 90px;
    }     
    
    .adicionar{
        margin-bottom: 50px;
    }
    .tarefas{
        padding-top: 20px;
    }
}

@media only screen and (max-width: 600px) {
    main{
        margin: 10%;
    }
    
    header{
        flex-direction: column-reverse;
    }

    .tema{
        margin-right: 70%;
    }    
    
    .campo{
        flex-direction: column;
        margin: 0% 8% 8% 8%;
    }

    .campo input{
        margin-top: 0%;
        margin-bottom: 5%;
        padding: 10px;
    }    
}
